// Base
@import "base/reset";

// Helpers
@import "helpers/variables";
@import "helpers/mixins";

// Base
@import "base/fonts";
@import "base/general";
@import "base/content-center";

// Components other
@import "components/anim";
@import "components/fixed-positioning";

// Components
@import "components/title";
@import "components/text";
@import "components/image";
@import "components/button";
@import "components/lists";
@import "components/sliders";
@import "components/link";

// Layout
@import "layout/containerInfo";
@import "layout/funding";
@import "layout/degraded";
@import "layout/explanation";
@import "layout/numbers";
@import "layout/approach";
@import "layout/someword";
@import "layout/partenaires";
@import "layout/news";
@import "layout/footer";

// Pages
@import "pages/_article.scss";
