#article-header-image {
  width: 100%;
}

.article-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 116px;
  @include breakmax($tablet) {
    flex-direction: column;
  }
}

.article-item1 {
  width: 40%;
  flex-grow: 1;
}

.article-item1-green {
  text-align: center;
  background: #5FBF84;
  margin-left: 64px;
  margin-right: 64px;
  //width: 40%;
  //flex-grow: 1;
}

.article-item2 {
  width: 60%;
  flex-grow: 2;
}

#article-h3 {
  font-size: 32px;
  color: $color2;
  width: 220px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 49px;
}

#article-h4 {
  color: $color2;
  opacity: 0.7;
  margin: 0 auto;
  font-size: 24px;
  padding-bottom: 78px;
}

#article-button {
  font-size: 16px;
  background: #FFFFFF;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  padding-bottom: 96px;
}