.funding{
    .img{
        margin-right: 97px;
        margin-top: 103px;
        width: 50%;
        height: 100%;
        @include breakmax($desktop-s){
            margin-right: 37px;
        }
        @include breakmax($tablet){
            margin-right: 4%;
            margin: 0;
            width: 260px;
            margin-bottom: 35px;
        }
    }
}

.explanation{
    @include breakmax($tablet){
        flex-direction: column;
    }
    .imageContainer {
        @include displayFlex; 
        @include alignItem();
        padding: 95px 35px;
        width: 60%;
        @include breakmax($desktop-s){
            padding: 2%;
            width: 100%;
        }
        @include breakmax($tablet){
            padding: 0;
            width: 70%;
            margin: auto;
            margin-bottom: 25px;
        }
        @include breakmax($mobile){
            width: 100%;
            margin-bottom: 0;
        }
        .img{
            @include breakmax($desktop){
                width: 100%;
            }
        }
    }
    .textContainer{
        padding: 60px 55px;
        @include breakmax($desktop-s){
            padding: 6%;
        }
    }
}

.teams{
    .teams__images{
        .slick-slide{
            height: 100%;
        }
    }
}