.fundingText{
    .text{
        margin-bottom: 52px;
        font-family: $font1;
        color: $color2;
        font-size: 16px;
        line-height: 24px;
    }
}

.funding__content{
    .text{
        font-family: $font3;
        font-size: 23px;
        color: $color2;
        width: 215px;
        margin-bottom: 25px;
    }
    .value{
        color: $color4;
        font-size: 64px;
        font-family: $font1;
    }
}

.explanation{
    .text{
        font-family: $font1;
        color: $color2;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 64px;
        @include breakmax($desktop-s){
            font-size: 13px;
            margin-bottom: 35px;
        }
    }
}

.numbers{
    .number{
        font-family: $font4;
        font-size: 45px;
        color: $color1;
        margin-top: 27px;
    }
    .text{
        font-family: $font1;
        font-size: 16px;
        color: $color1;
        margin-top: 13px;
    }
}

.approach {
    .text{
        font-family: $font1;
        font-size: 16px;
        color: $color1;
        margin-bottom: 35px;
        line-height: 24px;
    }
}

.someWord{
    .someWord__numbers {
        .text {
            @include displayFlex; 
            margin-bottom: 88px;
            &:last-child {
                margin-bottom: 0;
            }
            @include breakmax($desktop-s){
                margin-bottom: 28px;
            }
        }
        .number {
            font-family: $font4;
            color: $color4;
            font-size: 64px;
        }
        .textContent {
            font-family: $font1;
            font-size: 23px;
            color: $color4;
            line-height: 24px;
        }
    }
    .textContainer{
        .text{
            font-family: $font1;
            font-size: 16px;
            color: $color1;
            margin-bottom: 25px;
            line-height: 24px;
        }
        .quote{
            font-family: $font1;
            font-size: 16px;
            color: $color6;
            line-height: 28px;
        }
    }
}

.teams{
    .teams__name{
        font-family: $font4;
        margin-bottom: 24px;
        color: $color2;
        font-size: 64px;

    }
    .descriptions{
        font-family: $font1;
        font-size: 16px;
        color: $color2;
        line-height: 24px;
    }
}

.news{
    .date{
        font-family: $font1;
        color: $color4;
        font-size: 11px;
        margin-bottom: 17px;
    }
    .text{
        font-family: $font1;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 33px;
        @include breakmax($mobile){
            margin-bottom: 15px;
        }
    }
}