.fundingText{
    .text{
        margin-bottom: 52px;
        font-family: $font1;
        color: $color2;
        font-size: 16px;
        line-height: 24px;
    }
}

.funding__content{
    .text{
        font-family: $font3;
        font-size: 23px;
        color: $color2;
        width: 215px;
        margin-bottom: 25px;
    }
    .value{
        color: $color4;
        font-size: 64px;
        font-family: $font1;
    }
}

.explanation{
    .text{
        font-family: $font1;
        color: $color2;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 64px;
        @include breakmax($desktop-s){
            font-size: 13px;
            margin-bottom: 35px;
        }
    }
}