.funding {
    .title {
        font-family: $font3;
        font-weight: bold;
        color: $color2;
        font-size: 45px;
        width: 405px;
        margin-bottom: 27px;
        @include breakmax($desktop-s){
            width: 100%;
        }
    }
}