// color
$color1: #000000; // black
$color2: #ffffff; // white
$color3: #F1C5A5; // beige
$color4: #5FBF84; // green
$color5: #333333; // dark grey
$color6: #9E9E9E; // grey
$color7: #EEEEE6; // beige clair

// fonts
$directory-fonts : '../fonts/';
$font1: 'BentonSans';
$font2: 'BentonSans-Light';
$font3: 'BentonSans-Bold';
$font4: 'Besom';

// img
$directory-img: '../images/';

// responsive size
$mobile: 480px;
$tablet: 768px;
$desktop-s: 1080px;
$desktop: 1440px;
$desktop-l: 1600px;
$screen-4k: 2560px;

